<!-- <p>
  page works!
</p> -->
<div style="border: solid black 0px; border-radius: 1px;margin-top: 50px;">
		<h2 style="text-align: center;">FOOD FOR MOODS</h2>
		<p style="margin-left: 1240px;font-style: italic;"> Ultimate guide for your mood swings's demands</p>
	</div>
	<div class="image">
		<a href="food.gif"></a>
		<img style="width: 1650px;height:400px;">

	</div>
 <!-- DIVISIONS -->
 <br><br>
 <div class="flip-card">
   <div class="flip-card-inner">
    <div class="flip-card-front imgg">
      <img style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>HAPPYYYY</h1> 
      <p>LET's HAVE </p> 
      <p><a routerLink="/pizza">PIZZA</a></p>
      <p><a routerLink="/biryani">BIRYANI</a></p>
      <p><a routerLink="/coldcoffee">COLD COFFEE</a></p>
      <p>SIZZLERS</p>
    </div>
   </div>
  </div>


 <div class="flip-card" style="float: left;">
  <div class="flip-card-inner">
     <div class="flip-card-front img1">
        <!-- <img alt="Avatar" style="width:300px;height:300px;"> -->
     </div>
    <div class="flip-card-back">
      <h1>LOVE IT IS</h1> 
      <p>LET's HAVE </p> 
      <p>HOT CHOCOLATE</p>
      <p>WAFFLE IT</p>
      <p>CHEESECAKE</p>
      <p>LASANGA</p>
    </div>
  </div>
 </div>


 <div class="flip-card" style="float: left;">
  <div class="flip-card-inner">
    <div class="flip-card-front img2">
      <!-- <img alt="Avatar" style="width:300px;height:300px;"> -->
    </div>
    <div class="flip-card-back">
      <h1>ANGER OUT</h1> 
      <p>LET's HAVE </p> 
      <p>SIP OF GREEN TEA</p>
      <p>MAC N CHEESE</p>
      <p>ICE CREAM</p>
      <p><a routerLink="/coldcoffee">CHOCOLATE SHAKES</a></p>
    </div>
  </div>
 </div>

 <div class="flip-card" style="float: left;">
  <div class="flip-card-inner">
    <div class="flip-card-front img3">
      <!-- <img alt="Avatar" style="width:300px;height:300px;"> -->
    </div>
    <div class="flip-card-back">
      <h1>GYMM</h1> 
      <p>LET's HAVE </p> 
      <p>BOWL OF BROWN RICE</p>
      <p>WHOLE WHEAT TOAST</p>
      <p>GRILLED CHICKEN</p>
      <p>BANANA SHAKE</p>
    </div>
  </div>                 
 </div>

 <br><br>
 <div style="float: left;margin-top: 100px;margin-left: 10px;background-color: #ffff99;width: 1580px;height: 80px; ">
<!--  <hr style="border:solid black 1px;"> -->
 <p style="text-align: center; font-family:'Times New Roman', Times, serif;margin-top: 10px;"><b>TEMPERATURE HAS ITS EFFECTS TOO</b></p>
 <!-- <p style="text-align: center;">HEEEEE</p> -->

<br><br><br><br>
 <div class="flip-card" style="float: left;">
  <div class="flip-card-inner">
    <div class="flip-card-front img4">
      <!-- <img alt="Avatar" style="width:300px;height:300px;"> -->
    </div>
    <div class="flip-card-back">
      <h1>SUMMER</h1> 
      <p>LET's HAVE </p> 
      <p>COLD COFFEE</p>
      <p>COCKTAILS</p>
      <p>GRILLED CHICKEN</p>
      <p>BANANA SHAKE</p>
    </div>
  </div>                 
 </div>

 <div class="flip-card" style="float: left;margin-left: 100px;">
  <div class="flip-card-inner">
    <div class="flip-card-front img5">
      <!-- <img alt="Avatar" style="width:300px;height:300px;"> -->
    </div>
    <div class="flip-card-back">
      <h1>MONSOON</h1> 
      <p>LET's HAVE </p> 
      <p>HOT CHOCOLATE</p>
      <p>FRITTERS</p>
      <p>CLASSIC CHAI</p>
      <p>FIRED CHICKEN</p>
    </div>
  </div>                 
 </div>

 <div class="flip-card" style="float: left;margin-left: 100px;">
  <div class="flip-card-inner">
    <div class="flip-card-front img6">
      <!-- <img alt="Avatar" style="width:300px;height:300px;"> -->
    </div>
    <div class="flip-card-back">
      <h1>WINTER</h1> 
      <p>LET's HAVE </p> 
      <p>HOT COFFEE</p>
      <p>CLASSIC CHAI</p>
      <p>GRILLED CHICKEN</p>
      <p>BIRYANI</p>
    </div>
  </div>                 
 </div>
 </div>
<div style="float: left;margin-top: 400px;margin-left: 10px;background-color: #ffff99;width: 1580px;height: 80px; ">
    <p style="text-align: center; font-family:'Times New Roman', Times, serif;margin-top: 10px;"><b>DISCOUNTS OFFERED</b></p>
  <div id="demo" class="carousel slide" data-ride="carousel" style="margin-top: 80px;">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="wint1.jpg" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="gym1.jpg" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="sum.jpg" alt="New York" width="1100" height="500">
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

</div>